name: Repository Traffic
on:
  schedule:
    - cron: "0 23 * * *"
  workflow_dispatch:

jobs:
  traffic:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Traffic
        uses: wumphlett/repostats@v2.1.0
        env:
          TRAFFIC_ACTION_TOKEN: ${{ secrets.ghrs_github_api_token }}
