name: Repository Traffic
on:
  schedule:
    - cron: "55 23 * * 1"
  workflow_dispatch:

jobs:
  traffic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Copy README to template
        run: |
          cp README.md .github/TEMPLATE_README.md
      
      - name: Repository Traffic
        uses: wumphlett/repostats@v2.1.0
        with:
          format_readme: false
        env:
          TRAFFIC_ACTION_TOKEN: ${{ secrets.ghrs_github_api_token }}